*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
  --font-size: 15px;
  --purple: hsl(237, 63%, 64%);
  --gradient-left-right: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  --gradient-top-bottom: linear-gradient(
    to bottom,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
}

body {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: "Montserrat";
  font-size: var(--font-size);
  background-image: url("./images/bg-bottom.svg");
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

button {
  all: initial;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.plan-name {
  font-size: 1rem;
}

.plan-price {
  font-style: bold;
  font-size: 60px;
}

.line {
  height: 1px;
  width: 100%;
  opacity: 0.2;
}

.learn-more-button {
  text-transform: uppercase;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  padding: 0.7rem 0;
  border-radius: 0.3rem;
  font-family: "Montserrat";
  font-size: var(--font-size);
  border: 1px solid white;
  cursor: pointer;
}

/*
 *  CARD
 *
*/

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  width: fit-content;
  padding-inline: 3rem;
  box-shadow: 0 0 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.1);
}

.card:nth-of-type(odd) {
  background-color: white;
}

.card:nth-of-type(1) {
  border-radius: 1rem 0 0 1rem;
}

.card:nth-of-type(3) {
  border-radius: 0 1rem 1rem 0;
}

.card:nth-of-type(even) {
  background-image: var(--gradient-top-bottom);
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-radius: 1rem;
}

.card:nth-of-type(odd) > .plan-name {
  color: var(--grayish-blue);
}

.card:nth-of-type(even) > .plan-name {
  color: white;
}

.card:nth-of-type(odd) > .plan-price {
  color: var(--dark-grayish-blue);
}

.card:nth-of-type(even) > .plan-price {
  color: white;
}

.card:nth-of-type(odd) > ul > li {
  color: var(--grayish-blue);
}

.card:nth-of-type(even) > ul > li {
  color: white;
}

.card:nth-of-type(odd) .line {
  background-color: var(--grayish-blue);
}

.card:nth-of-type(even) .line {
  background-color: white;
}

.card:nth-of-type(odd) .learn-more-button {
  background-image: var(--gradient-left-right);
  color: white;
}

.card:nth-of-type(even) .learn-more-button {
  background-color: white;
  color: hsl(237, 63%, 64%);
}

.card:nth-of-type(odd) .learn-more-button:hover {
  background-image: none;
  background-color: white;
  color: var(--purple);
  border-color: var(--purple);
}

.card:nth-of-type(even) .learn-more-button:hover {
  background-color: var(--purple);
  color: white;
  border-color: white;
}

@media (min-width: 768px) {
  /* body { */
  /*   flex-direction: row; */
  /* } */
}
