*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
  --font-size: 15px;
  --gradient-left-right: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  --gradient-top-bottom: linear-gradient(
    to bottom,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: "Montserrat";
  font-size: var(--font-size);
  background-image: url("./public/images/bg-bottom.svg");
}

button {
  all: initial;
}

ul {
  list-style: none;
}

.plan-name {
  font-size: 1rem;
  color: var(--grayish-blue);
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  width: 80%;
  border-radius: 1rem;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

li {
  color: var(--grayish-blue);
}

.plan-price {
  color: var(--dark-grayish-blue);
  font-style: bold;
  font-size: 50px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: var(--dark-grayish-blue);
  opacity: 0.2;
}

.learn-more-button {
  text-transform: uppercase;
  color: white;
  background-image: var(--gradient-left-right);
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  font-weight: bold;
  padding: 1rem 0;
  border-radius: 0.3rem;
  font-family: "Montserrat";
}
